* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
        font-family: "Segoe UI", sans-serif;
        min-height: 100vh;
        background: 
            linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
            url("");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        color: #1e293b;
    }


nav {
    background: #0f172a;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    color: #38bdf8;
}


.hero {
    text-align: center;
    padding: 120px 20px;
    background: linear-gradient(to right, #2563eb, #38bdf8);
    color: white;
}

.content {
    margin: 50px auto;
    padding: 50px;
    width: 85%;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 18px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.1);
}


button {
    padding: 12px 25px;
    border: none;
    background: red;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    margin-top: 40px;
}

.card {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 12px 25px rgba(0,0,0,0.12);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card p {
    padding: 15px;
    text-align: center;
    font-weight: 500;
}

input, textarea {
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #cbd5e1;
}